{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
 <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-lg-12 print">
                               <div class="container only-for-print">
                                <div class="row">
                                  <div class="col-8" style="padding:10px;">
                                    <div class="float-left">
                                      <img src="{{ info.school.logo.url }}" alt="" width="100px;">
                                    </div>
                                      <div class="float-left" style="padding: 10px;">
                                        <h2>{{ info.school.name }} </h2>
                                        <p>{{ info.school.address }}</p>
                                      </div>
                                  </div>
                                    <div class="col-4">
                                    </div>
                                  </div>
                                </div>

                              <div class="container">
                                <div class="row justify-content-md-center headline">
                                  <div class="col-12">
                                    <hr>
                                  </div>
                                  <div class="col-md-auto">
                                      <h3>HR List</h3>
                                  </div>
                                </div>
                                    <div class="row headline">
                                        <table>
                                          <thead>
                                            <tr style="font-weight: bold; background-color: rgb(100, 100, 100); color: white;">
                                              <td>HR ID</td>
                                              <td>Name</td>
                                              <td>Designation</td>
                                              <td>Phone Number</td>
                                              <td>Address</td>
                                              <td class="do-not-print">Action</td>

                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for hr in hr_list %}
                                                <tr>
                                                  <td>{{ hr.hr_id }}</td>
                                                  <td style="text-align:left; padding-left:10px;">{{ hr.name }}</td>
                                                  <td>{{ hr.position }}</td>
                                                  <td>{{ hr.phone }}</td>
                                                  <td>{{ hr.address }}</td>

                                                  <td class="do-not-print">[ edit ] [ Delete ]</td>
                                                </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
