{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load auth_extras %}
{% block content %}
 <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card filter-area">
                                    <div class="card-header">
                                        <strong>Select Product</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="{% url 'new_order' %}" method="post" class="form-horizontal" id="personForm" >
                                            {% csrf_token %}
                                            <div class="form-group row">
                                                <div class="form-group col-md-12">
                                                    <table>
                                                      <thead>
                                                        <tr style="font-weight: bold; background-color: rgb(100, 100, 100); color: white;">
                                                          <td>Name</td>
                                                          <td>Trade Price</td>
                                                          <td>Quantity</td>

                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for category, products in product_list.items %}
                                                            <tr><td colspan="3">{{ category }}</td></tr>
                                                            {% for product in products %}
                                                                <tr>
                                                                  <td style="text-align:left; padding-left:10px;">{{ product.name }}</td>
                                                                  <td>{{ product.trade_price }}</td>

                                                                  <td><input type="number" value="{{ session_data|get_item:product.id }}" name="{{ product.id }}" style="width:100%; text-align:center"></td>
                                                                </tr>
                                                            {% endfor %}
                                                         {% endfor %}
                                                      </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                  <div class="form-group col-md-12">
                                                    <button type="submit" class="btn btn-md btn-info" style="width:100%;">Review Products</button>
                                                  </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
