{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
 <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card filter-area">
                                    <div class="card-header">
                                        <strong>Message</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <h5>Order Placed!</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
