{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}
 <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card filter-area">
                                    <div class="card-header">
                                        <strong>Expense Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" class="form-horizontal" id="personForm" >
                                            {% csrf_token %}

                                            <div class="form-group row">
                                                  <div class="form-group col-md-12">
                                                    <label>Expense Name</label>
                                                    {{ form.narration|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>Voucher</label>
                                                    {{ form.voucher|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>A/C Head</label>
                                                    {{ form.ledger_to|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>Payment Method</label>
                                                    {{ form.ledger_from|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>Date</label>
                                                    {{ form.date|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>Amount</label>
                                                    {{ form.amount|add_class:"form-control" }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label>Source Document</label>
                                                    {{ form.source_doc }}
                                                  </div>

                                                  <div class="form-group col-md-12">
                                                    <label style="padding:-999px">submit</label>
                                                    <button type="submit" class="btn btn-md btn-info">Filter</button>
                                                  </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if submitted %}
                                {{ data }}
                            <!--<div class="col-lg-12 print">-->

                               <!--<div class="container only-for-print">-->
                                <!--<div class="row">-->
                                  <!--<div class="col-8" style="padding:10px;">-->
                                    <!--<div class="float-left">-->
                                      <!--<img src="{{ info.school.logo.url }}" alt="" width="100px;">-->
                                    <!--</div>-->
                                      <!--<div class="float-left" style="padding: 10px;">-->
                                        <!--<h2>{{ info.school.name }} </h2>-->
                                        <!--<p>{{ info.school.address }}</p>-->
                                      <!--</div>-->
                                  <!--</div>-->
                                    <!--<div class="col-4">-->
                                    <!--</div>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--{% for student, val in data.items %}-->
                              <!--<div class="container">-->
                                <!--<div class="row justify-content-md-center headline">-->
                                  <!--<div class="col-12">-->
                                    <!--<hr>-->
                                  <!--</div>-->
                                  <!--<div class="col-md-auto">-->
                                      <!--{% if student %}-->
                                        <!--<h3>{{ info.status }} Payment Information</h3>-->
                                      <!--{% else %}-->
                                        <!--<h3>No Record Found with this Student ID</h3>-->
                                      <!--{% endif %}-->
                                  <!--</div>-->
                                <!--</div>-->
                                <!--{% if student %}-->
                                    <!--<div class="row headline">-->
                                        <!--<table>-->
                                          <!--<thead>-->
                                            <!--<tr style="font-weight: bold; background-color: rgb(100, 100, 100); color: white;">-->
                                              <!--<td>Student ID</td>-->
                                              <!--<td>Student Name</td>-->
                                              <!--<td>Roll</td>-->
                                              <!--<td>{{ info.status }} Amount</td>-->
                                            <!--</tr>-->
                                          <!--</thead>-->
                                          <!--<tbody>-->

                                                <!--<tr>-->
                                                  <!--<td>{{ student.student_id }}</td>-->
                                                  <!--<td style="text-align: left;">{{ student.name }}</td>-->
                                                  <!--<td>{{ student.roll }}</td>-->
                                                  <!--<td>{{ val.total }}</td>-->
                                                <!--</tr>-->

                                          <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--{% endif %}-->
                              <!--</div>-->
                            <!--{% endfor %}-->
                            <!--</div>-->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
