{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}


 <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--<h3 class="only-for-print text-center">মোজাহেদ/মোজাহেদা এর তালিকা</h3>-->
                                <div class="card filter-area">
                                    <div class="card-header">
                                        <strong>Assign Fees to Students</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" class="form-horizontal" id="personForm" >
                                            {% csrf_token %}

                                            <div class="form-group row">
                                              <div class="form-group col-md-2">
                                                <label for="inputState3">Fee Head</label>
                                                {{ form.fee_head|add_class:"form-control" }}
                                              </div>

                                              <div class="form-group col-md-2">
                                                <label for="inputState3">Fee Title</label>
                                                {{ form.fee_title|add_class:"form-control" }}
                                              </div>

                                              <div class="form-group col-md-2">
                                                <label for="inputState1">Class</label>
                                                {{ form.classes|add_class:"form-control" }}
                                              </div>

                                              <div class="form-group col-md-2">
                                                <label for="inputState1">Section</label>
                                                {{ form.section|add_class:"form-control" }}
                                              </div>

                                              <div class="form-group col-md-2">
                                                <button type="submit" class="btn btn-md btn-info">Assign Fee</button>
                                              </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {% if submitted %}

                                <div class="col-lg-12">
                                    <h1>Fee Assigned Successfully</h1>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block after_js %}

{% endblock %}
